<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.smash.mapper.AdminMapper">
	<select id="user_list" resultType="com.smash.VO.user.UserVO">
		select * from user_table
	</select>
	<select id="user_report" resultType="com.smash.VO.ReportVO">
		select * from report_table
	</select>
</mapper>